NODE_ENV="development"
DATABASE_URL="postgresql://api:api123@localhost:5432/api"
BETTER_AUTH_SECRET="change-me-min-32-chars-long-secret-1234567890"
# BETTER_AUTH_SECRET must be >=32 chars
BETTER_AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
